:root {
    --color-text-primary: #353732;
    --color-text-secondary: #45525b;

    --color-input-fill: rgba(82, 80, 59, 0.02);
    --color-input-stroke: #e5e7eb;

    --color-background-primary: #ffffff;
    --color-background-secondary: #fafafa;
    --color-background-tertiary: #f8f8f8;

    --font-family-primary: 'Georgia', sans-serif;
    --font-family-secondary: 'Palatino-Linotype', sans-serif;
    --font-family-tertiary: 'Poppins', sans-serif;

    --border: 1px solid var(--color-input-stroke);
    --border-radius: 8px;

    --container-header-width: 1167px;
    --container-header-padding-y: 20px;
    --container-body-width: 768px;
    --container-body-padding-y: 100px;
    --container-padding-x: 15px;

    --input-height: 38px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
}

.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-block: var(--container-body-padding-y);
}

.container__wide {
    max-width: calc(
        var(--container-header-width) + var(--container-padding-x) * 2
    );
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container {
    max-width: calc(
        var(--container-body-width) + var(--container-padding-x) * 2
    );
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.header {
    padding-block: var(--container-header-padding-y);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header__logo {
    max-width: 100%;
}

.header__menu-list {
    display: flex;
    gap: 10px;
}

.header__menu-link {
    padding: 10px;
}

.welcome__logo:not(:last-child) {
    margin-bottom: 20px;
}

.welcome__title {
    font-size: 36px;
    font-family: var(--font-family-secondary);
    font-weight: 400;
    line-height: 40px;
}

.articles {
    background-color: var(--color-background-secondary);
}

.articles-top .articles__list {
    display: grid;
    grid-template-columns: repeat(6, max(113.5px));
    grid-template-rows: repeat(3, auto);
    grid-gap: 17px;
}

.articles__list .big {
    grid-column: span 4;
    grid-row: span 2;
}

.articles__list .medium {
    grid-column: span 3;
}

.articles__list .litle {
    grid-column: span 2;
}

.articles__list-item {
    display: flex;
}

.article {
    display: flex;
}

.article__column {
    max-width: 505px;
    flex-direction: column;
}

.article__image {
    width: 100%;
    height: auto;
}

.article__body {
    display: flex;
    flex-direction: column;
}

.article__column .article__body {
    background-color: var(--color-background-primary);
    padding: 17px 20px 30px 20px;
    flex: 1;
}

.article__category {
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--font-family-tertiary);
    line-height: 12px;
    letter-spacing: 2px;
}

.article__column .article__category:not(:last-child) {
    margin-bottom: 10px;
}

.article__title {
    font-size: 18px;
    font-family: var(--font-family-secondary);
    line-height: 24px;
    color: var(--color-text-secondary);
}

.article__column .article__title {
    font-size: 25px;
    line-height: 33px;
}

.article__column .article__title:not(:last-child) {
    margin-bottom: 11px;
}

.article__medium .article__title {
    font-size: 18px;
    line-height: 24px;
}

.article__description {
    font-size: 16px;
    font-family: var(--font-family-primary);
    line-height: 22px;
    color: var(--color-text-secondary);
    margin-bottom: auto;
}

.article__column .article__description {
    font-size: 14px;
    line-height: 22px;
}

.article__column .article__description:not(:last-child) {
    margin-bottom: auto;
}

.article__date {
    font-size: 11px;
    font-family: var(--font-family-primary);
    line-height: 16px;
    color: var(--color-text-secondary);
    justify-self: self-end;
}

.form__inner {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.form__header {
    max-width: 376px;
    padding-top: 20px;
    flex-shrink: 1;
}

.form__title {
    font-size: 28px;
    line-height: 38px;
    font-family: var(--font-family-secondary);
}

.form_title:not(:last-child) {
    margin-bottom: 12px;
}

.form__body {
    display: flex;
    flex-direction: column;
    max-width: 376px;
    flex-grow: 1;
}

.form__label {
    font-size: 11px;
    line-height: 16px;
}

.form__label:not(:last-child) {
    margin-bottom: 3px;
}

.form__input {
    height: var(--input-height);
    border-radius: var(--border-radius);
    border: var(--border);
    padding-inline: 10px;
    background-color: var(--color-input-fill);
}

.form__input:not(:last-child) {
    margin-bottom: 10px;
}

.form__button {
    height: var(--input-height);
    max-width: 82px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-text-primary);
}

.article__row {
    column-gap: 20px;
}

.article__row:not(:has(img)) .article__description {
    margin-bottom: 10px;
}

.article__row .article__image {
    max-width: 200px;
    border-radius: var(--border-radius);
}

.articles__list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.articles-all .articles__list {
    margin-bottom: 60px;
}

.articles__more {
    text-align: center;
}

.articles__more-link {
    font-size: 14px;
    line-height: 22px;
    position: relative;
}

.articles__more-link::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 85px;
    width: 33px;
    height: 22px;
    background: url('../images/icons/right-arrow.svg') center / 100% no-repeat;
}

@media (max-width: 810px) {
    .articles-top .articles__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 15px;
    }

    .articles__list .big {
        grid-column: initial;
        grid-row: initial;
    }

    .articles__list .medium {
        grid-column: initial;
    }

    .articles__list .litle {
        grid-column: initial;
    }

    .article__column .article__title {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .welcome__title {
        font-size: clamp(30px, 3.26vw, 47px);
        line-height: clamp(38px, 3.82vw, 55px);
    }
}

@media (max-width: 650px) {
    .articles-top .articles__list {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .article__column {
        max-width: 100%;
        width: 100%;
    }

    .article__column .article__title {
        font-size: 25px;
        line-height: 26px;
    }

    .article__column .article__description:not(:last-child) {
        margin-bottom: 10px;
    }

    .article__column .article__description {
        font-size: 18px;
        line-height: 25px;
    }

    .article__column .article__date,
    .article__column .article__category {
        font-size: 16px;
        line-height: 20px;
    }

    .form__inner {
        flex-direction: column;
        align-items: start;
    }

    .form__header {
        max-width: 100%;
        padding-top: 0;
    }

    .form__header:not(:last-child) {
        margin-bottom: 40px;
    }

    .form__description {
        font-size: 18px;
        line-height: 25px;
    }

    .form__body {
        max-width: 300px;
        width: 100%;
        align-self: center;
    }

    .form__label {
        font-size: 16px;
        line-height: 20px;
    }

    .form__input {
        height: 48px;
    }

    .form__button {
        max-width: 100%;
        height: 48px;
    }

    .article__row:has(img) {
        display: flex;
        flex-direction: column;
    }

    .article__row .article__image {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .article__row .article__image:not(:last-child) {
        margin-bottom: 17px;
    }

    .article__row .article__title {
        font-size: 25px;
        line-height: 26px;
    }

    .article__row:has(img) .article__title:not(:last-child) {
        margin-bottom: 11px;
    }

    .article__row .article__description {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 25px;
    }

    .article__row .article__date {
        font-size: 16px;
        line-height: 20px;
    }

    .articles__more-link {
        font-size: 18px;
    }

    .articles__more-link::after {
        left: 110px;
        top: 0;
    }
}

@media (max-width: 460px) {
    .welcome__logo {
        display: none;
    }

    .form__body {
        max-width: 100%;
    }
}

@media (max-width: 355px) {
    .header__inner {
        gap: 10px;
    }
    .header__menu-list {
        gap: 5px;
    }
    .header__menu-link {
        padding: 5px;
    }
}
